<div id="carouselLanches" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/lanche1.jpeg" class="d-block w-100" alt="..." width="450" height="440" >
        </div>
        <div class="carousel-item">
            <img src="~/imagens/lanche2.jpeg" class="d-block w-100" alt="..." width="450" height="440">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/lanche3.jpeg" class="d-block w-100" alt="..." width="450" height="440">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselLanches" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselLanches" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>